*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.title{
    padding-left: 730px;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}
.home{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}
.order{
    background: #817070;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.order__fio{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.order__coffee{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.orders{
    width: 100%;
    display: flex;
    justify-content: center;
}
.order__food{
    display: flex;
    flex-direction: column;
}
input{
    border: 3px solid #fff;
    padding: 10px;
    background: #817070;
    margin: 0 10px 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    outline: none;
}
input[type="number"]{
    width: 60px;
    -moz-appearance: textfield;
}
input::placeholder{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
label{
    color: #fff;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    display: flex;
    align-self: center;
}
.btn:hover{
    color: #fff;
    background: #817070;
}
.total{
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    margin: 20px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 26px;
	height: 26px;
	background: #ebe2e2;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: #817070;
}
.checkbox:checked + label:after {
	background: #6a4646;
}